* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html, body {
    height: 100%;
}

.container {
    max-width: 4000px;
    width: 100%;
    margin: 0 auto;
    display: flex ;
    flex-direction: column;
    min-height: 100%;
    padding-left: 60px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    background: #b05b5b;
    overflow: hidden;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    z-index: 1000;
}

.sidebar .item {
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.sidebar .icon {
    font-size: 25px;
}

.sidebar .text {
    display: none;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover .text {
    display: inline;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    border-radius: 4px;
}

.sidebar .text:hover{
    text-decoration: underline;
    background: #764848;
}

header {
    background: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

nav {
    background: #444;
    padding: 0.625rem;
    text-align: center;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: #fff;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

nav a:hover {
    text-decoration: underline;
    background: #555;
}

main {
    padding: 1.25rem;
    flex: 1;
}

main h2 {
    margin-top: 0;
    font-size: 1.75rem;
}

main p {
    font-size: 1.125rem;
    line-height: 1.6;
}

footer {
    background: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        display: block;
        margin: 0.625rem 0; 
    }
}