<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothesStore</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
     <div class="sidebar">
        <a href="#" class="item">
            <span class="icon">🏠</span>
            <span class="text">Home</span>
        </a>
        <a href="#" class="item">
            <span class="icon">📄</span>
            <span class="text">Sobre</span>
        </a>
        <a href="#" class="item">
            <span class="icon">📞</span>
            <span class="text">Contact</span>
        </a>
    </div>
    @RenderBody()
    
</body>

</html>
